<h1>Questions#answer</h1>
<!-- <p>Find me in app/views/questions/answer.html.erb</p>
 -->
<div class="question">
  <h3><%= @question %></h3> <br>
  <h3>-You</h3>
</div>


<div class="answer"><h3><%= @answer %></h3><br>
<h3> - the coach </h3></div>

<p><%= link_to 'ask your question again', ask_path %></p>
