
<form action="/answer">
  <input class="input" type="text" name="question">

  <input class="button" type="submit" value="Ask!">
</form>

<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>


<p>ask a new question</p>


